/* BT Landing Page Style Sheet: Author Christian Arce(github:arcec-cs)
* CSS Coding Style: Google recomendation(-order of properties/short hand)- https://google.github.io/styleguide/htmlcssguide.html
* Header Font-Size Scaling: W3 Reccomendations- https://www.w3.org/TR/css-fonts-3/#font-size-prop
* Typography Grid / Vert&Horz Motion- http://webtypography.net/toc#2.2
* Font Choice(Raleway): Sans-Serif;Headspace(Apercu)- https://venngage.com/blog/brand-fonts/ ; https://designtheway.com/most-used-fonts-alternative-google-fonts/
*********************************************************************************************************************************/

/**********************************
|| GENERAL STYLES 
***********************************/
/*
Typography Grid:  
In good Typography practice, we pick a scale to keep Grid Struture consisiting of Grid Units for propper Vertical & Horizontal Rhythm to Inrease Readability:
Grid Unit = 30 px; determinied by a reccomended Line Height of 1.5 times the chosen paragraph font of 20px.

Header Font Scaling:
According to W3 Reccomendations

Vertical Rhythm Rules:
Standard Line Height- Closest Grid Unit or Half Grid Unit That is able to contian the size of the text i.e h2 = 40px therefore LH= 45 px.
Standard Vert Margins- 1 Grid Unit (30px).

Horizontial Rhythm Rules:
Paragraph Width Small- Small Paragraphs take appproximatly the lower character limit of the 45-75 char paragraph, Typography reccomended 
Paragraph Width Med- Medium Paragraphs take appproximatly the Ideal for readibily paragraph width of 66 Char, Typography reccomended 

FONT CHOICE: 
Chose Sans-Serif over a Sans for the are more modern, simpler and evoke a sense of clenliness and minimal design which aligns with BT mission.
Chose Raleway because it was similar to Aperqu a paid font that Headspace uses, Headspace has a similar mission to BT.
*/

body {
    padding-top: 90px; /*offset for cover cover down so fixed nav bar doesnt ccover it */
    margin: 0 auto;    
    color: #00473e;
    background-color: #f2f7f5;
    font-size: 1.6667em; /* 26.6666667 px to get  20px paragraphs with W3 Reccomended header Ratios*/
    font-family: 'Raleway', sans-serif;
    position: absolute;
}

/* line heights are the the closest multiple of 15px, go to 4 decimals for consistency and accuracy when looking at web inspector tool*/
h1 {
    font-size: 2em;     /*53.3334px*/
    line-height: 1.125;   /*60px*/
    margin-top: .5624em; 
    margin-bottom: .5624em;
}

h2 {
    font-size: 1.5em;     /*40px*/
    line-height: 1.125;  /*45px*/
    margin-top: .75em; 
    margin-bottom: .75em;
}

h3 {
    font-size: 1.2em;     /*32px*/
    line-height: 1.4062; /*45px*/ 
    margin-top: .9375em;
    margin-bottom: .9375em;

}

h4 {
    font-size: 1em;       /*26.6667px*/
    line-height: 1.1249; /*30px*/
    margin-top: 1.1249em;
    margin-bottom: 1.249em; 
}

p {
    font-size: .75em;     /*20px*/
    line-height: 1.5;    /*30px*/
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    color: #475d5b;
}

h5 {
    font-size: .8888 em;   /*23.7013 px*/
    line-height: 1.2657;   /*30px*/
    margin-top: 1.2657em;
    margin-bottom: 1.2657em;
}

h6 {
    font-size: .5em; /*13.3333px*/
    line-height: 2.25em; /*30px*/
    margin-top: 2.25em;
    margin-bottom: 2.25em;
}

a {
    color:#00473e; 
    text-decoration: none;
    font-size: .75em; /*20px*/
}

.p-small {
    width: 19.5em; /*1em is 20 px */
}

.p-med {
    width: 30em;
}

a:visited {
    color: inherit; /*keep anchor tags same color when navagating*/
}

/* Having a Universal Class For Padding(acting as margins so we can still apply bg-color)which we apply to ALL ZONES 
makes it easier to manipuate for media queries and reduces redunancy and Helps Horz Motion Thus readability; Note: 1.125em =30px, see Zones */
.universal-lr-padding {
    padding-left: 12.375em ; /* correspond with the Navbar word Better Together  which is 165px away from left edge*/
    padding-right: 6.1875em ;
    padding-right: 12.375em ;
}

/**********************************
|| NAVBAR 
***********************************/
/* Holds The Logo, Anchor Tags Linking to different Zones of Landing Page, and Login & Register Buttons */

.main-nav {
    background-color: #f2f7f5;
    height: 3.3em; /* 3.375 = 90px - border 2px (.075em) */
    list-style: none;
    border-radius: 4px;
    border: 1px solid #bbb;
    margin: 0;
    padding: 0em 5.625em 0em 5.625em;
}

.main-nav:hover {
    box-shadow: rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
 }

.main-nav >li {
    padding: .5625em 1.125em; /* top and bottom to accomidate button alignment*/
    margin-top: .525em; /*14 px margin to make room for container border of 1 px 14 + 1 = 15*/
    margin-bottom: .525em;
    border-width: 1px;/* creates anhor tag separators*/
    border-right: 1px; 
    border: solid #00473e;
    border-width: 0 1px 0 0;
  }

.sticky {
    height: 3.375em;
    position: fixed;
    top: 0;
    width: 100%;
}

.push {
    margin-left: auto;
}

.nav-logo-resize {
    margin-top: .45em; /*9px to center align logo verticaly to the navbar */
    height: 2.25em;
    width: 4.5em;
}

.nav-special {
    padding-top: 0 !important;    /*special elements are already the size of anchor elements w/ padding*/
    padding-bottom: 0 !important; 
    margin-top: 0.6em !important; /*accomidates button border of 2px for alingment with anchor text in parent container*/ 
    height: auto !important;
    border-width: 0 !important; /*gets rid of  border applied in parent container since  it is only needed for the nav elements*/ 
}

.no-border {
    border-width: 0 !important; /* used for nav bar "Better Together since  the box model is consistent with main anchor tags */
}

.nav-border-left {
    border-width: 0 1px 0 1px !important; /*completes anchor border*/
}

#tagline {
    font-size: .4219em;
    text-align: center;
}

#accomidateTagline {
    margin-top: .25em ; /* 8px of margin: adding tagline was a late revison when reviewing Cover page, we add extra marging to accomidate the offset that the tagline pushes the text Better Together"*/
    padding: 0;
}

/**********************************
|| ZONES
***********************************/
/*Zones primarily determines Vertical Motion with Heights and Top and Bottom Padding fitting to grid structure; also sets color and bg color for deviating sections: 
 Working with the 1.6667em(26.6666667 px) font size set in the body, mulitples of 1.125em(30px) used for Heights and Top and Bottom Padding ; 
26.6667px(body)/30px(grid unit) = 1.125em = 1 grid unit(30px),*/

/* || COVER */

.zonea {
    height: 20.25em; 
    padding-top: 1.125em ;
    padding-bottom: 3.375em;
}

#img-cover {
    height: 12.375em; /* og svg size 1122x647  half 561x323.5; make dimentions fit graph of  mult of 30 px:, 570/30= 19*1.125=21.375 | 11 *1.125 =12.375 |   */
    width: 21.3750em;
    align-self: center;
}

/* || CONCERNS */

.zoneb {
    height: 16.875em; /*1.125*15  */
    width:inherit;
    padding-top: 4.500em ;
    padding-bottom: 3.375em;
    color: #f2f7f5;
    background-color: #00473e;
    text-align: start;
}

#disclaimer {
    align-self: flex-end;
    color: #f2f7f5;
    font-size: .4219em;
    margin-bottom: 0; 
}

/* || CIOH */

.zonec {
    height: 20.25em; /*1.125*18*/
    height: 25.875em; 
    padding-top: 2.25em ;
    padding-bottom: 3.375em;
}

#compoundImg {
    height: 18em;
    width: 18em; 
    margin: 0 3.375em 0 0;
 }

#compoundImgCapLarge {
    width: 36em; /* 75 chars*/
}

/* || FEATURES */

/*Aids vertical flow of experience zone(zoned)/ acts as buffer for anchor link*/
.zonepad {
    height: 6.1875em; /*provides buffer for navbar anchor link 90px and  a spot to put the H2 45lh + 30 margin*/
    background-color: #ffa8ba; 
    align-items: flex-end;
}

.zoned {
    height: 28.125em; /*1.125*21  */  
}

#featuresMain {
    background-color: #ffa8ba ;
    background-image: url("./img/undraw_experience_green.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.carousel-container {
    height: 14.625em; /*size to fit withing bg svg*/
    width: 23.625em;
    width: 24.75em;
    margin-left: 34%; /*margins to center carousel in front of bg svg*/
    margin-right: auto;
    margin-top:4.05em;/*had to diverge from grid system of by 3px, however needed to center in svg*/
    overflow: hidden; /*hides rest of image array*/
    position: relative;
}

 .carousel-slide {
    height: 14.625em; /*determine size of the content in the carousel*/
} 

#prevBtn {
    width:1.125em; /*resize to be bigger and fit our graph*/
    height: 1.125em;
    position: absolute; /*centers buttons infront of content in the middle*/
    top: 45%;          
    z-index: 10;
    left: 5%;
    opacity: 0.5;         
    cursor: pointer;
}

#nextBtn {
    width:1.125em; /*resize to be bigger and fit our graph*/
    height: 1.125em;
    position: absolute; /*centers buttons infront of content in the middle*/
    top: 45%;
    z-index: 10;
    right: 5%;
    opacity: 0.5;
    cursor: pointer;
}

/* BANNER*/
.con-banner {
    position: relative;
    min-width: 100%;
    min-height: 100%;
  }
  
.overlay {
    position: absolute;
    top: 79%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
    width: 100%;
    opacity: .85;
    /* transition: .5s ease; */
    background-color: #00473e;
}
  
/* .con-banner:hover .overlay  {
    opacity: .85;
} */
  
.text {
    color: #f2f7f5 ;
    font-size: .75em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/*  || FOUNDATION */

.zonee {
    height:  28.125em; 
    padding-top:1.6875em ; /*padding 45 px so the question adressed doubt and keeps reader engaged*/
    padding-bottom:3.375em;
    padding-left: 10.6875em; /*specailize padding to accomidate space needed for all cards*/ 
    padding-right: 10.6875em;
    background-color: #ffa8ba;
}

/*  || END CTA */

.zonef {
   
    height: 9.5625em; /*1.125*15*/
    padding-bottom:1.125em; 
}

/**********************************
|| STYLING
***********************************/

/* BUTTON */

.flat-btn {
    cursor: pointer;
    background-color: #f2f7f5;
    font-size: .75em; 
    color: #00473e;
    margin-top: 2px;
    margin-bottom: 2px; /* emulate pop default border */
    border-width: 0px;
    border-radius: 4px;
    padding: .75em 1.5em; /*.8em = 16 px in concjuction with 24px contentent and 2px borders is a 60 px tall button*/
    font: 'Raleway' /* does not apply from body*/
}

.pop-btn {
    cursor: pointer;
    background-color: #faae2b;
    color: #00473e;
    font-size: .75em;  
    border-radius: 4px;
    padding: .75em 1.5em;
    font: 'Raleway' /* does not apply from body*/
}

.pop-btn.btn-cta {
    font-size: 1.125em;
    border-radius: 30px;
    padding: .5em 1.5em;
}

/* CARDS*/

.card {
    height: 22.5em;  /*600px*/
    width: 15.75em; /* 420 px to accomidate psmall*/
    width: 16.875em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  /*give depth*/
    border-radius: 1em;
    background-color: #f2f7f5; 
}

.card-img {
    border-radius: 1em; /*formats svg to fit in card*/
    width: 90%;
    height: 6.75em;
    margin-top: .5625em; /*so picture doesnt touch top of card*/
}

.mar-card-p{
    margin-left: .5625em; /*implemented so space will always be maintained between p and card no matter window size */
    margin-right: .5625em;
}

/*COLOR*/

.white {
    color: #f2f7f5
}

.bg-yellow {
    background-color: #faae2b;
}

/* TEXT */

.underline-on-hover:hover {
    text-decoration: underline;
}

/**********************************
|| UTILITIES
***********************************/

/* FLEXBOX */

.container {
    display:flex;
}

.container-column {
    display:flex;
    flex-direction: column;
    
}

.container-column-space {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
}   

.container-row {
    display:flex;
    flex-direction:row;
    
}

.container-row-space {
    display:flex;
    flex-direction: row;
    justify-content: space-between ;
    
}

.wrap {
    flex-wrap: wrap;
}

.vert-cntr {
    align-items: center;
}

.cntr {
    justify-content: center;
    align-items: center;
}

/* BOX MODEL */

.pad-left-zero {
    padding-left: 0;
}

.mar-right-std {
    margin: 0 1.125em 0 0;
}

.mar-top-zero {
    margin-top: 0;
}

.mar-bottom-zero {
    margin-bottom: 0;
}

.mar-double {
    margin-top: 6.75em;
}

.push-down-card {
    margin-top: 5.625em;
}

.txt-cntr {
    text-align: center;
}

.txt-end {
    text-align: end; 
}

.img-fit{
    max-height: 100%; /*reformats image to fit container*/
    max-width: 100%;
}

/**********************************
|| MEDIA QUERIES
***********************************/

/* Medial queries here are used to accommodate widths of the most common desktop screen resolution sizes
 world wide according to https://www.hobo-web.co.uk/best-screen-size/ spanning from 1920-1280 pixels wide
 Responsive Design as in unique/optimal designs were not made for each of these screens due to time restricitons
 however all of the websites content is visble and is in the same general format
 
 UPDATE: Testing all Common screen sizes and Mobile and Tablets now, looking promising all Content is accessible :) will make better comments later
 */

/* navbar and contentent start getting squished */
@media only screen and (max-width: 1695px) {
     .main-nav {
        padding: 0;
    }

    #img-cover {
        height: 9.2813em; 
        width: 16.0313em;
    }

    .universal-lr-padding {
        padding-left:4.5em ; 
        padding-right:4.5em ;
    }

    .zonee { 
        padding-left:4.5em ; 
        padding-right:4.5em ;
    }

}

/* For common Screen size of 1366×768px  */
 @media only screen and (max-width: 1366px) {
     .main-nav {
        font-size: .9em;
    }

    .universal-lr-padding {
        padding-left: 2.25em ; 
        padding-right: 2.25em ;  
    }

    .zonee { 
        padding-left: 1.125em ; 
        padding-right: 1.125em ; 
    }
 }

 /* so content can still be read on 1280x720 screens */
 @media only screen and (max-width: 1300px) {
    
   .universal-lr-padding {
       padding-left: .5em ; 
       padding-right: .5em ; 
    }

    .zonee { 
        padding-left: .5em ; 
        padding-right: .5em ; 
    }
    
}

/* general styling for mobile and tablet displays*/
@media only screen and (max-width: 1200px) {
    
    .main-nav {
        font-size: .7em;
    }

    .hide {
        display: none;  /*hides nav bar anchors to make room for buttons*/
    }    

    .push-again {
        margin-left: auto; /* separates left and right side navbar now that anchors are gone*/
    }
    
    .overlay {
        opacity: 85%;
    }

    #navStart{
        margin-left: 4.5em ;
    }

    #navEnd{
        margin-right: 4.5em ;
    }

    .zonea {
        margin-left: 4.5em ;
        margin-right: 4.5em ;
    }
    .zoneb{
        padding-left: 4.5em ;
        padding-right: 4.5em ;
    }

    .zonec {
        margin-left: 4.5em;
        margin-right: 4.5em ;
    }

    .zonepad {
        padding-left: 4.5em ;
    }

    .carousel-container {
        margin-left: 36%; /*prevent image from overlapping  paint roller */
    }
}



   



