/*  || GENERAL STYLES */

/* header font scaling using W3 Typography reccomendaitons; in order to keep grid like and vertical 
rythm we set line height to the nearest multiple of the line height of 30px that stems from p*/
body {
    padding-top: 75px; /*offset for cover cover down so fixed nav bar doesnt ccover it */
    margin: 0 auto;
    font-size:1.6667em; /*27px; need 26.6666667 px font if we want 20px p*/
    /* font-size: 26.666px; */
    font-family: Raleway, sans-serif;
}
/*  font size based off of w3 standards; margins(leadding) are 30px each; line heights are the the cosest multiple of 15px (I know that half a pixel doesnt exsit, howver knowing calculated value is nessacary for getting correct line and margin heights with em system)*/
h1{
    font-size:2em;       /*53.3334px*/
    line-height: 1.125; /*60px*/
    margin-top:  .5624em; 
    margin-bottom:.5624em;
}
h2{
    font-size:1.5em;     /*40px*/
    line-height: 1.125;  /*45px*/
    margin-top: .75em; 
    margin-bottom: .75em;
}
h3{
    font-size:1.2em;     /*32px*/
    line-height: 1.4062; /*45px*/ 
    margin-top: .9375em;
    margin-bottom:.9375em;

}
h4{
    font-size:1em;       /*26.6667px*/
    line-height: 1.1249; /*30px*/
    margin-top: 1.1249em;
    margin-bottom:1.249em; 
    }
p{
    font-size:.75em;     /*20px*/
    line-height: 1.5;    /*30px*/
    margin-top: 1.5em;
    margin-bottom:1.5em;
    color:#475d5b;
}
h5{
    font-size:.8888 em;   /*23.7013 px*/
    line-height: 1.2657;   /*30px*/
    margin-top: 1.2657em;
    margin-bottom:1.2657em;
}
h6{
    font-size:.5em; /*13.3333px*/
    line-height: 2.25em; /*30px*/
    margin-top: 2.25em;
    margin-bottom: 2.25em;
}
a{
    text-decoration: none;
    color: #00473e ;
    font-size:.75em;     /*20px*/
    line-height: 1.5 !important;     /*30px*/
    margin-top: 1.5em;
    margin-bottom:1.5em;
  
}

button{
    text-decoration: none;
    color: #00473e ;
    font-size: .75em;
}

/*  clean up */
.img-50{
    /* og svg size 1122x647  */
    height: 20em ;
    width: 25em;
}



/* || SECTION SPECIFIC */

/* nav bar */
.main-nav {
    height:3.3em; /* 3.375 = 90px - border 2px (.075em) */
    list-style: none;
    border-radius:4px;
    border:1px solid #bbb;
    margin: 0;
    padding: 0em 1.125em 0em 1.125em;
}

.push {
    margin-left: auto;
}

.main-nav >li {
    padding: 1.125em;
    height: 1.125em;
    text-align: center;
    vertical-align: center;
}

.sticky {
    height:3.375em;
    position: fixed;
    /* position: sticky; */
    top: 0;
    width: 100%;
}
.main-nav:hover {
   box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/*  Login/Signup Modal */
.modal-log-bg{
    position: fixed; 
    width: 100%;
    height: 100vh;
    top: 0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0,5s;
}

.modal-sign-bg{
    position: fixed; 
    width: 100%;
    height: 100vh;
    top: 0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0,5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    position: relative;
    background-color:#f2f7f5;
    color:#00473e;    
    border-radius:4px;
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
}

.modal-sign-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.modal-log-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

/* cover */
/* 26.6667/30 =1.125; for 1080/30 =36rows 720/30=27rows */
.zonec {
    height: 22.21em; 
    color: #00473e;
    padding-top:1.11em ;
    padding-bottom:3.33em;
    padding-left: 5.55em ;
    padding-right:5.55em ;
 }

/* hook */
 .zoneb {
    height: 17.205em; /*1.11*27  75% 1080 screen; vaue 27*1.11*/
    color: #ffffff;
    padding-top:1.11em ;
    padding-bottom:3.33em;
    padding-left: 5.55em ;
    padding-right:5.55em ;
    background-color:   #00473e;
}

.zone {
    height: 27.75em; /*1.11*27  75% 1080 screen; vaue 27*1.11/
    /* height: 50em; 1.11*27  75% 1080 screen */
    color: #00473e;
    margin-top:1.11em ;
    margin-bottom:3.33em;
    margin-left: 5.55em ;
    margin-right:5.55em ;
}

/* experience*/
.carousel-container{
    width: 63%;
    margin: auto;
    overflow:hidden;
    border: 5px solid black;
    position: relative;
}

.carousel-slide{
    /* display: flex; */
    width: 100%;
    height: 638px;
}

#prevBtn{
    width:1em;
    height: 1em;
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size:30px;
    /* color: white; */
    opacity: 0.5;
    cursor: pointer;

}
#nextBtn{
    width:1em;
    height: 1em;
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size:30px;
    /* color: white; */
    opacity: 0.5;
    cursor: pointer;

}

/*Foundation*/
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}
.card-img{
    border-radius: 1em; 
}


/* attempts at responsiveness */
@media only screen and (max-width: 1300px) {
    .main-nav {
        font-size: 0.6em;
        padding: 0;
    }
    
    .main-nav > li > a> img{
            height: auto;
            width:  75%;
    }

}
@media only screen and (max-width: 1200px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
    
    .main-nav > li > a> img{
            height: auto;
            width:  65%;
    }

}

@media only screen and (max-width: 1000px) {
    .main-nav {
        font-size: 0.35em;
        padding: 0;
    }
    .main-nav > li > a> img{
        height: auto;
        width:  65%;
    }
}

/* possible structure  for  Also min-with 414* maybe 1280 also*/
/* @media only screen and (max-width: 1024px) {
    .main-nav {
        font-size: 0.6em;
        padding: 0;
    }
    
    .main-nav > li > a> img{
            height: auto;
            width:  75%;
    }

}
@media only screen and (max-width: 768px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
    
    .main-nav > li > a> img{
            height: auto;
            width:  65%;
    }

} */

/* flexbox Utilities */
.container{
    display:flex;
}

.container-column{
    display:flex;
    flex-direction: column;
    
}
.container-column-space{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
}   

.container-row{
    display:flex;
    flex-direction:row;
    
}
.container-row-space{
    display:flex;
    flex-direction: row;
    justify-content: space-around ;
    
}

.wrap{
    flex-wrap: wrap;
}

.al-end{
    align-self: flex-end;
}
.vert-cntr{
    align-items: center;
}
.horx-cntr{
    justify-content: center;
}
.vert-start{
     align-items: flex-start
}
.horz-start{
     justify-content: flex-start
}
.vert-start{
    align-items: flex-end
}
.horz-start{
    justify-content: flex-end
}
.cntr{
    justify-content: center;
    align-items: center;
}
.start{
    justify-content: flex-start;
    align-items: flex-start;
}

/* styling */
.offwhite {
    background: #f2f7f5; /* Old browsers */
}

/* button syling */
.flat-btn{
    cursor: pointer;
    background-color:#f2f7f5;
    /* font-size: 1em; */
    color: #00473e;
    border-width: 0;
    border-radius: 4px;
    padding: .5em 2em;
    /* margin-left: 40px; */
}

.pop-btn{
    cursor: pointer;
    background-color:#faae2b;
    color: #00473e;
    /* font-size: .75em;  */
    border-radius: 4px;
    padding: .5em 1.125em;
}

#ctaBigBtn{
    font-size: 1em;
    border-radius: 25px;
    padding: .5em 1.5em;
    /* margin-right: 25vh;
    margin-left: 25vh;
    margin-bottom: 70vh; */
}

/*  made based of w3 school standards of 45-75 lines 66 being ideal */
.p-small{
    width: 20em}

.p-med{
    width: 30em}

li{
    text-align:start ;
}

.pad-three{
    padding:0 1.11em 0 0;
}
.pad-left-zero{
    padding-left:0;
}

.mar-top-zero{
    margin-top: 0;
}


.txt-cntr{text-align: center;}
